<div class="container justify-content-center mt-5" style="background-color: rgb(245, 236, 236);">
<form [formGroup]="formGroup">

    <div class="form-group">
        <label for="name">Contact Name:</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="retrievedContact.name">

        <div *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name'].dirty">
            <small class="form-text text-danger" *ngIf="formGroup.controls['name'].hasError('required')">required Name!</small>
            <small class="form-text text-danger" *ngIf="formGroup.controls['name'].hasError('minlength')">min length is 5</small>
        </div>
    </div>


    <div class="form-group">
        <label for="address">Address:</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="Enter Address" [(ngModel)]="retrievedContact.address">

        <div *ngIf="formGroup.controls['address'].invalid && formGroup.controls['address'].dirty">
            <small class="form-text text-danger" *ngIf="formGroup.controls['address'].hasError('required')">required Address!</small>
        </div>
    </div>

    <div class="form-group">
        <label for="phone">Phone:</label>
        <input formControlName="phone" type="text" class="form-control" id="mobile" placeholder="Enter Phone" [(ngModel)]="retrievedContact.phone">

        <div *ngIf="formGroup.controls['phone'].invalid && formGroup.controls['phone'].dirty">
            <small class="form-text text-danger" *ngIf="formGroup.controls['phone'].hasError('required')">required phone!</small>
            <small class="form-text text-danger" *ngIf="formGroup.controls['phone'].hasError('minlength')">min length is 11 digits</small>
        </div>
    </div>

    <div class="form-group">
      <label for="notes">Notes:</label>
      <input formControlName="notes" type="text" class="form-control" id="notes" placeholder="Enter Notes" [(ngModel)]="retrievedContact.notes">

      <div *ngIf="formGroup.controls['notes'].invalid && formGroup.controls['notes'].dirty">
          <small class="form-text text-danger" *ngIf="formGroup.controls['notes'].hasError('required')">required Notes!</small>
      </div>
  </div>


  
    <button  [disabled]="formGroup.invalid" (click)="updateContact()" type="submit" class="mb-2 btn btn-primary">Done</button>
</form>
</div>